---
import Layout from "../../layouts/Layout.astro";
import ContactMessageForm from "../../components/ContactMessageForm.tsx";
---

<Layout title="Contact">
    <main>
        <ContactMessageForm client:load/>
    </main>
</Layout>

<style>

</style>
