---
import Layout from '../../layouts/Layout.astro';
import { Code } from 'astro:components'
---

<Layout title="Title">
	<main>
		<h1>TOP PAGE</h1>
		<p>Welcome!<br>This page is User's web portfolio. It is created with an eye to easy-to-read design. It is not yet responsive. Please wait a little longer.</p>
		<h2>Some dodgy-looking code</h2>
		<Code code="rm -rf" lang="shell" class="custom-code"/>
		<p>&#x26a0; <alert>Be careful when executing this code.</alert></p>
		<p> If you have deleted someone, run!<code> rm -rf /user</code></p>
	</main>
</Layout>

<style>
	h1 {
        margin-bottom: 1.5rem;
		font-size: 5rem;
		font-weight: bold;
		letter-spacing: 0.2rem;
	}

	h2 {
		margin-bottom: 1.5rem;
		font-size: 3rem;
		font-weight: bold;
		letter-spacing: 0.2rem;
	}

	p {
		margin-bottom: 1.5rem;
		font-size: 2rem;

		line-height: 3.4rem;
		letter-spacing: 0.2rem;
	}
	p > code {
		font-family: roboto-mono;
		font-size: 2.2rem;

		margin: 0 .8rem;
		padding: .1rem 1rem;

		color: var(--color-codeblock);
		background-color: var(--bgcolor-codeblock);
		border-radius: 0.5rem;

	}

    p > alert {
        font-weight: bold;
        color: var(--alert-color);
    }

	.custom-code {
		font-family: roboto-mono;

		margin-bottom: 1.5rem;
        padding: 2rem;

		border: 1px solid var(--color-font);
        border-radius: 0.5rem;
    }
</style>
