---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Title">
	<main>
		<h1>Aa 8.38AAA</h1>
		<p>Aa 8.38AAA</p>
		<!-- ポートフォリオ -->

		<!-- テクノロジー -->

		<!-- Zenn -->

		<!-- 寄付のお願い Buy me a Coffee  -->
		 
	</main>
</Layout>

<style>
	main {
		margin: 0 auto;
		max-width: 1000px;
	}
</style>
