---

// https://docs.astro.build/ja/tutorial/6-islands/2/
// ダークモードの作り方！
import { getLangFromUrl, useTranslations } from '../i18n/utils'

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<button id="toggle-theme">
    <label>ダークモード</label>
</button>

<script>
    // テーマ切替ボタンのイベントリスナー
    const toggleThemeButton = document.getElementById('toggle-theme');
    if (toggleThemeButton) {
        toggleThemeButton.addEventListener('click', () => {
            let newTheme: string;
            switch (document.body.className) {
                case 'light':
                    newTheme = 'dark';
                    break;
                case 'dark':
                    newTheme = 'light';
                    break;
                default:
                    newTheme = 'light';
                    break;
            }
            document.body.setAttribute('class', newTheme);
            sessionStorage.setItem('theme', newTheme);
        });
    }
</script>

<style>
    button {
        font-size: 2.3rem;
        padding: 1rem;
    }
    button:hover {
        box-shadow: 0 0 0 1px var(--color-font);
    }
</style>