---
import type { HTMLAttributes } from 'astro/types';
import { iconPaths } from './IconPaths';

interface Props {
    icon: keyof typeof iconPaths;
    fill?: string;
    stroke?: string;
    size?: string;
    href?: string;
}

const { fill = 'currentcolor',stroke= 'currentcolor', icon, size, href="/" } = Astro.props;
const iconPath = iconPaths[icon];

const attrs: HTMLAttributes<'svg'> = {};
if (size) attrs.style = { '--size': size };
---
<a href={href} target="_blank">
    <svg
        xmlns="http://www.w3.org/2000/svg"
        width="40"
        height="40"
        viewBox="0 0 256 256"
        aria-hidden="true"
        stroke={stroke}
        fill={fill}
        {...attrs}
    >
        <g set:html={iconPath} />
    </svg>
</a>

<style>
    svg {
        vertical-align: middle;
        width: var(--size, 1rem);
        height: var(--size, 1rem);
    }

    svg:hover {
        opacity: 0.7;
    }
</style>