---

interface Props {
    name: String;
}

const { name } = Astro.props;
---

<section>
    <h2>{name}</h2>
    <p>私はソフトウェアエンジニアです。</p>
    <p>私はフルスタックなWEBシステムの構築を得意としています。</p>
    <h3>ポートフォリオ</h3>
    <ul>
        <li>ポートフォリオ1</li>
        <li>ポートフォリオ2</li>
        <li>ポートフォリオ3</li>
    </ul>

    <h3>テクノロジー</h3>
    <p>Language</p>
    <ul>
        <li>HTML / CSS</li>
        <li>Typescript</li>
        <li>Rust</li>
    </ul>
    <p>Framework</p>
    <ul>
        <li>React</li>
        <li>Astro</li>
        <li>Hono</li>
    </ul>
</section>