---
import Icon from "../components/Icon.astro";
export const prerender = false;

type Article = {
	title: string;
	link: string;
	pubDate: string;
};

const data: Article[] = await fetch(import.meta.env.API_URL).then((res) =>
	res.json(),
);
---
<ul>
    {data.map((article: Article) => (
        <li>
            <a href={article.link} target="_blank">{article.title}</a>
            <p><Icon icon="pen" size="2rem" href={article.link}/>{article.pubDate}</p>
        </li>
    ))}
    <li class="lists-end">
        <Icon icon="books" size="5rem" href='https://zenn.dev/masterak'/>
        <a href="https://zenn.dev/masterak" target="_blank">Show more...</a>
    </li>
</ul>

<style>
    ul {
        display: grid;
        grid-template-columns: repeat(2, minmax(0, 1fr)); /* 1列に3つ */
        grid-auto-rows: 150px; /* 各アイテムの高さを200pxに固定 */
        gap: 2rem;

        padding: 1rem;
        height: 600px;

        border: 1px solid var(--color-font);
        border-radius: 0.5rem;

        overflow-y: auto;
    }
    ul::-webkit-scrollbar {
		width: 0;
	}

    li {
        padding: 1rem;
        border: 1px solid var(--color-font);
        border-radius: 0.5rem;
    }

    li a {
        font-size: 2.5rem;
        font-weight: bold;
        word-break: break-all;
        white-space: normal;
    }

    .lists-end {
        grid-column-end: span 2;
        height: 150px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        border : none;
    }

    li p {
        
    }
</style>